doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title page title
        link(rel="stylesheet", href="./css/master.css")
    body
        #app1
            |a message is {{message}}!
        script(src="./js/main.js")
